body {
  font-family: "Montserrat" !important;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, button {
  font-weight: 300 !important;
  text-align: center;
  margin: 0;
}

h1 {
  color: #000;
  letter-spacing: 1.8px !important;
  font-size: 53px;
  line-height: 60px;
}

h2 {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1.2px;
  margin: 0;
  color: #000;
}

h5 {
  font-size: 23px;
  font-weight: 500 !important;
  margin: 0;
}

h6 {
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 32px;
}

p {
  font-size: 18px;
  letter-spacing: 0.54px;
  line-height: 24px;
  padding: 0 0 20px 0;
}

a {
  color: #6ED7E5;
  font-weight: 300;
}

a:hover {
  color: #1CAFEC;
}

a, a:hover {
  text-decoration: none;
}

.span-blue {
  color: #6ed7e5;
  text-transform: uppercase;
}

/* --- OVERWRITE IRAISER --- */

#indexs-index .intro {
  padding: 0;
  margin: 0;
}

.habillage .row {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.habillage .row .row, .habillage .section-projets .row, .habillage .section-home-projects .row, .section-projet-details, #project_tabs, section.project_event_description, section.event-head, section.section-my-event .row, .stats-event, #footer-collecte {
  max-width: 71.25em;
  margin: 0 auto;
}

.infos-money .progress .graph-bar {
  background-color: #053C50;
  border-radius: 0;
}

.container {
  padding: 0 !important;
  color: #000;
}

.top-bar-section a:hover, .main-header .top-bar-section ul li:hover:not(.has-form) > a
.top-bar-section a.active {
  font-weight: 600 !important;
}

.row.bg-color-light-blurred.first-section {
  background: #fff;
}

section.top-bar-section {
  background: #F0F0F0 !important;
}

section#header-header {
  box-shadow: none !important;
}

.top-bar-section a {
  color: #000 !important;
  letter-spacing: 0.7px;
  font-weight: 300 !important;
}

/* --- MENU --- */

.row-1 {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.row-2 {
  height: 47px;
  width: 100%;
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-2 a {
  color: #000;
  text-decoration: none;
}

.line {
  box-sizing: border-box;
  height: 25px;
  border: 0.5px solid #000000;
  margin: 0 40px;
}

/* --- BOUTONS --- */


.button-blue,
.btn-next,
#form-contact input.button,
.top-bar-section .button.left,
section.connexion input.button {
  padding: 2px 35px !important;
  background-color: #fff0 !important;
  color: #000;
  border: 5px solid #6ED7E5 !important;
  font-size: 12px;
  letter-spacing: 0.6px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}

.button-blue:hover,
.btn-next:hover,
#form-contact input.button:hover,
.top-bar-section .button.left:hover,
section.connexion input.button:hover {
  background-color: #fff0;
  color: #000;
  border: 5px solid #43cbdd;
}

.button-lg,
.btn-next {
  padding: 2px 60px !important;
  width: 272px;
}

.button-white {
  padding: 2px 35px;
  background-color: #fff0;
  color: #fff;
  border: 5px solid #fff;
  font-size: 12px;
  letter-spacing: 0.6px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}

.button-white a {
  color: #fff;
  font-weight: 300;
}

.wrapper-help .button-white {
  margin-top: 10px;
}

.buttons-flex {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 4% auto 8% auto;
}

/* --- BANNERS --- */


.banner {
  height: 412px;
  background-size: cover;
  background-color: grey;
  margin-bottom: 50px;
}

.banner-homepage {
  background-image: url(https://www.louisvuittonforunicef.com/cdn.iraiser.eu/36NkQyMVEe7+4KNzUOoWKBwt+yybeMOGfMe3n2LmssGp5wmsNEotxv7Vg6S6hDm8/simon_ROMAIN/origin/picthome.jpg);
  background-size: cover;
  height: 707px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #fff;
  background-position: center;
  flex-direction: column;
}

.banner-about {
  background-image: url(https://www.louisvuittonforunicef.com/cdn.iraiser.eu/36NkQyMVEe7+4KNzUOoWKBwt+yybeMOGfMe3n2LmssGp5wmsNEotxv7Vg6S6hDm8/simon_ROMAIN/origin/IMAGEENFANTSABOUT.jpg);
}

.banner-world-run {
  background-image: url(https://www.louisvuittonforunicef.com/cdn.iraiser.eu/36NkQyMVEe7+4KNzUOoWKBwt+yybeMOGfMe3n2LmssGp5wmsNEotxv7Vg6S6hDm8/simon_ROMAIN/origin/pictrunlv.jpg);
}

.banner-individual {
  background-image: url(https://www.louisvuittonforunicef.com/cdn.iraiser.eu/36NkQyMVEe7+4KNzUOoWKBwt+yybeMOGfMe3n2LmssGp5wmsNEotxv7Vg6S6hDm8/simon_ROMAIN/origin/pictchildrenindividualinitiatives.jpg);
}

.banner-reporters {
  background-image: url(https://www.louisvuittonforunicef.com/cdn.iraiser.eu/36NkQyMVEe7+4KNzUOoWKBwt+yybeMOGfMe3n2LmssGp5wmsNEotxv7Vg6S6hDm8/simon_ROMAIN/origin/imagelvreporters.jpg);
}

.banner-payroll {
  background-image: url(https://www.louisvuittonforunicef.com/cdn.iraiser.eu/36NkQyMVEe7+4KNzUOoWKBwt+yybeMOGfMe3n2LmssGp5wmsNEotxv7Vg6S6hDm8/simon_ROMAIN/origin/pictchildrentogether.jpg);
}


.banner-homepage h1 {
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 96px;
  line-height: 80px;
  text-align: center;
  margin-bottom: 50px;
}

.banner-text {
  width: 900px;
  margin: 110px auto 100px auto;
  color: #fff;
}

.banner-text p, .wrapper-help p {
  color: #fff
}

.credits p {
  margin-right: 20px;
  font-size: 11px;
}

/* --- WRAPPERS --- */


.wrapper-help {
  width: 100%;
  padding: 35px 0;
  background-color: #053C50;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff !important;
  margin: 50px 0 0 0;
}

.wrapper-help h4 {
  color: #fff;
  font-size: 24px;
  letter-spacing: 1.2px;
  padding: 20px 0;
}

.wrapper-description {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000 !important;
  margin: 50px auto;
}

.wrapper-content {
  width: 960px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper-description .wrapper-content {
  width: 753px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

.wrapper-description .wrapper-content h1 {
  padding: 0 0 50px 0;
}

.wrapper-description .wrapper-content p {
  text-align: justify !important;
}

.wrapper-content span {
  font-weight: 600;
}

.wrapper-content p a {
  color: #fff !important;
  text-decoration: underline;
  font-weight: 600;
}

.wrapper-about {
  height:auto;
}

.wrapper-challenge {
  height: auto;
}

.challenge span {
  /* text-align: right; */
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.72px;
  line-height: 29px;
}

/* --- BLOCKS --- */

.block-grey {
  height: 600px;
  width: 753px;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

.block-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-item {
  padding: 30px;
  text-align: center;
}

.block-item img {
  margin-bottom: 20px;
}

.block-item span, .block-grey h2 {
  font-weight: 600 !important;
}

.block-images {
  height: 770px;
  width: 1146px;
  margin: auto;
  display: flex;
  margin-top: 110px;
  margin-bottom: 95px;
  justify-content: center;
}

.column-left, .column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column-left {
  width: 366px;
  height: 100%;
  margin-right: 20px;
}

.column-right {
  width: 754px;
  height: 100%;
}

.block-img {
  background-color: blue;
}

.column-left .block-img {
  width: 100%;
  justify-content: space-between;
}

.column-right .block-img {
  height: 504px;
  background-size: cover;
}

.column-right .block-row {
  justify-content: space-between;
}

.column-right .block-row .block-img {
  width: 367px;
  height: 245px;
}

.column-left .block-img:first-child {
  height: 504px;
}

.column-left .block-img:last-child {
  height: 245px;
}

.block-join h2 {
  font-weight: 600 !important;
  color: #000;
  margin-bottom: 35px;
}

.block-join {
  height: auto;
  width: 1146px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.block-grey-sm {
  height: 300px;
}

.block-sm {
  width: 753px;
}

.block-grey-sm .block-row {
    width: 90%;
}

.block-sm .block-row {
  justify-content: space-between;
}

.block-sm .block-card {
  width: 48%;
  align-items: baseline;
}

.block-sm .block-join-line {
  height: 270px;
  margin: 0 50px;
}

.block-grey-sm .block-join-line {
  height: 100px;
  margin: 0 50px;
}

.block-sm .block-card-title {
  color: #6ED7E5;
  font-size: 24px;
  letter-spacing: 1.2px;
}

.block-sm p {
  text-align: left !important;
}

.block-sm span {
  font-weight: 600 !important;
}

.block-4 {
  width: 23%;
}

.block-card  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  padding: 15px;
}

.card-grey  {
  background-color: #F0F0F0;
}

.block-card-title {
  font-weight: 600 !important;
}

.block-icon {
  background-color: #6ED7E5;
  border-radius: 50%;
  height: 176px;
  width: 176px;
  display: flex;
  justify-content: center;
}

.block-icon img {
  object-fit: contain;
}

.block-join p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.48px;
}

.block-join-line {
  height: 390px;
  border-left: 0.5px solid #303333;
  background-color: rgba(0,0,0,0);
}

.block-join-line-sm {
  height: 230px;
  border-left: 0.5px solid #303333;
  background-color: rgba(0,0,0,0);
}

.bloc-dates {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1146px;
  margin: 50px auto;
}

.date-when,
.date-start,
.date-contact {
  display: flex;
  padding: 5px 0;
}

.date-start,
.card-date {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.date-label {
  font-size: 12px;
  letter-spacing: 0.6px;
  line-height: 24px;
  width: 30%;
  text-align: left;
}


.date-info {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.date-start .date-info {
  font-size: 16px;
}

.date-contact .date-info, .date-contact .date-info a {
  color: #000;
}

.date-contact .date-info a {
  color: #000;
  text-decoration: underline;
}

.card-grey .date-when, .card-grey .date-start  {
  text-align: center;
}

/* --- HOMEPAGE --- */

#tag-montant {
  color: #000000;
  font-family: Montserrat;
  font-size: 92px;
  font-weight: 600 !important;
  letter-spacing: 4.6px;
  line-height: 48px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 26px;
}

.campagne {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 573px;
  width: 1146px;
  margin: 100px auto;
}

.camp-photo {
  background-color: blue;
  height: 100%;
  width: 50%;
}

.camp-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.camp-description {
  height: 100%;
  width: 50%;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 150px;
}

.camp-description h5 {
  padding: 20px 0;
}



/* --- ABOUT --- */

.about-video {
  height: 427px;
  width: 755px;
  margin: auto;
  background-color: #053C50;
}

/* --- TUNNEL CREATION PAGE COLLECTE --- */

dl#step_tab {
    margin-top: 30px;
}

#form-project .tabs a,
#form-project .tabs .active a {
  background-color: #000;
  letter-spacing: 0.7px;
  font-size: 14px;
}

.tabs-content p {
  font-weight: 600 !important;
}

#projects-new #form-project input,
#projects-new #form-project select,
#contact_forms-new #form-contact input,
#contact_forms-new #form-contact textarea {
  border: 1px solid black;
  background: white;
}

/* --- CONTACT --- */

#contact_forms-new h1 {
  text-transform: uppercase;
  margin: 30px;
}

#contact_forms-new p {
  margin-bottom: 30px;
}

.g-recaptcha {
    margin-bottom: 30px;
}

/* --- AUTRES PAGES --- */

#events-index .habillage {
  background: white;
}

#events-index .event-details {
  background: #666666;
}

.page-see {
  color: #6dd7e5;
}


/* ------------------------------- RESPONSIVE ------------------------------- */

@media (max-width: 770px) {

.campagne {
  flex-direction: column;
  width: 80%;
}

.camp-photo {
  height: 100%;
  width: 100%;
}

.camp-description {
  width: 100%;
}




}
