body {
  font-family: "Montserrat" !important;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, button {
  font-weight: 300 !important;
  text-align: center;
  margin: 0;
}

h5 {
  font-size: 23px;
  font-weight: 500 !important;
  margin: 0;
}

h6 {
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 32px;
}

p {
  font-size: 18px;
  letter-spacing: 0.54px;
  line-height: 24px;
}

a {
  color: #6ED7E5;
  font-weight: 600;
}

a:hover {
  color: #1CAFEC;
}

a, a:hover {
  text-decoration: none;
}

/* --- OVERWRITE IRAISER --- */

.habillage .row {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.habillage .row .row, .habillage .section-projets .row, .habillage .section-home-projects .row, .section-projet-details, #project_tabs, section.project_event_description, section.event-head, section.section-my-event .row, .stats-event, #footer-collecte {
  max-width: 71.25em;
  margin: 0 auto;
}

.infos-money .progress .graph-bar {
  background-color: #053C50;
  border-radius: 0;
}

.container {
  padding: 0 !important;
}

/* --- MENU --- */

.row-1 {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.row-2 {
  height: 47px;
  width: 100%;
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-2 a {
  color: #000;
  text-decoration: none;
}

.line {
  box-sizing: border-box;
  height: 25px;
  border: 0.5px solid #000000;
  margin: 0 40px;
}

/* --- BOUTONS --- */


.button {
  padding: 2px 35px;
  background-color: #fff0;
  color: #000;
  border: 5px solid #6ED7E5;
  font-size: 12px;
  letter-spacing: 0.6px;
  line-height: 32px;
  text-align: center;
}

.button-lg {
  padding: 2px 60px;
  background-color: #fff0;
  color: #000;
  border: 5px solid #6ED7E5;
  font-size: 12px;
  letter-spacing: 0.6px;
  line-height: 32px;
  text-align: center;
}

.button-white {
  padding: 2px 35px;
  background-color: #fff0;
  color: #fff;
  border: 5px solid #fff;
  font-size: 12px;
  letter-spacing: 0.6px;
  line-height: 32px;
  text-align: center;
}


/* --- BANNERS --- */


.banner {
  height: 412px;
  background-size: cover;
  background-color: grey;
}

.banner-homepage {
  background-image: url(https://cecile-dzy-ncl.github.io/LVU/images/IMAGE_HOME.png);
  background-size: cover;
  height: 707px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #fff;
}

.banner-homepage h1 {
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 96px;
  line-height: 80px;
  text-align: center;
  margin-bottom: 50px;
}

.banner-text {
  width: 900px;
  margin: 0 auto 110px auto;
  color: #fff;
}

.banner-text p, .wrapper-help p {
  color: #fff
}

/* --- WRAPPERS --- */


.wrapper-help {
  width: 100%;
  height: 300px;
  background-color: #053C50;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff !important;
  margin: 50px 0 0 0;
}

.wrapper-description {
  width: 100%;
  height: 510px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: left; */
  color: #000 !important;
  padding: 50px 0 0 0;
}

.wrapper-content {
  width: 960px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper-description .wrapper-content {
  width: 753px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

.wrapper-description .wrapper-content h1 {
  padding: 0 0 45px 0;
  font-size: 60px;
  letter-spacing: 1.8px;
  line-height: 24px;
}

.wrapper-description .wrapper-content p {
  padding: 0 0 10px 0;
  text-align: justify;
}

.wrapper-content span {
  font-weight: 600;
}

.wrapper-content p a {
  color: #fff !important;
  text-decoration: underline;
  font-weight: 600;
}

/* --- BLOCKS --- */

.block-grey {
  height: 600px;
  width: 753px;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.block-row {
  display: flex;
  /*flex-direction: column;*/
}

/* --- HOMEPAGE --- */

#tag-montant {
  color: #000000;
  font-family: Montserrat;
  font-size: 92px;
  font-weight: 600 !important;
  letter-spacing: 4.6px;
  line-height: 48px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 26px;
}

.campagne {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 573px;
  width: 80%;
  margin: 100px auto;
}

.camp-photo {
  background-color: blue;
  height: 100%;
  width: 50%;
}

.camp-photo img {
  height: 100%;
  width: 100%;
}
.camp-description {
  height: 100%;
  width: 50%;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 50px; */
}

.camp-description p {
  margin: 0 45px;
}

/* ------------------------------- RESPONSIVE ------------------------------- */

@media (max-width: 770px) {

.campagne {
  flex-direction: column;
  width: 80%;
}

.camp-photo {
  height: 100%;
  width: 100%;
}

.camp-description {
  width: 100%;
}




}
