body {
  font-family: "Montserrat" !important;
}

h1, h2, h3, h4, h5, h6, p, button {
  font-weight: 300 !important;
}

h1 {

}

/* --- MENU --- */

.row-1 {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.row-2 {
  height: 47px;
  width: 100%;
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-2 a {
  color: #000;
  text-decoration: none;
}

.line {
  box-sizing: border-box;
  height: 25px;
  border: 0.5px solid #000000;
  margin: 0 40px;
}

/* --- BOUTONS --- */


.button {
  /* margin: 0 auto; */
  padding: 2px 35px;
  background-color: #fff;
  color: #000;
  border: 5px solid #6ED7E5;
  font-size: 12px;
  letter-spacing: 0.6px;
  line-height: 32px;
  text-align: center;
}

/* --- BANNERS --- */


.banner {
  height: 412px;
  background-size: cover;
}

.banner-homepage {
  background-image: url(https://cecile-dzy-ncl.github.io/LVU/images/IMAGE_HOME.png);
  background-size: cover;
  height: 707px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #fff;
}

.banner-homepage h1 {
  color: #FFFFFF;
  font-size: 96px;
  font-weight: 300;
  line-height: 80px;
  text-align: center;
}

.banner-text {
  width: 900px;
  margin: 0 auto 45px auto;
  color: #fff;
}

.banner-text p, .wrapper-help p {
  color: #fff
}
